.App {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.input{
  margin-bottom:3%;
}
label{
  margin-left: 43.5%;
}
.massage{
  margin: 3%;
  position: relative;
  z-index: 8;
}
html{
  overflow-x: hidden;
  display: flex;
  align-self: center;
  align-items: center;
}



