.w-6rem{
    width: 5vw;
}
.dataTable{
    width: 100vw;
    margin-bottom: 5%;
    margin-left:-10%;
    position: relative;
    right: -1%;
    margin-top: -10%;
}
.bp{
   width: 2rem;
   height: 2rem;
   margin: 4%;
}
.num{
    size: 1rem;
}
.btns{
    margin-right: 30%;
}