.footer{
    background-color: rgba(83, 34, 61, 0.8);
    width: 100vw;
    height: 5vh;
    position: fixed;
    bottom: 0px;
    left: 0%;

}
.car{
    position: absolute;
    bottom: 2%;
    left: 0%;
    width: 20vw;
    height: auto;
    animation: carAnimate linear 20s 1s infinite normal;
}
.mr-2{
    width: 10vw;
    height: auto;
    margin: -20%;
    margin-right: 10%;
}
.nav{
    background-image:linear-gradient(to top left ,rgb(253, 177, 189),rgb(255, 199, 208),rgb(255, 226, 231),rgb(255, 211, 219) );
    width: 100vw;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 50;
    /* margin-bottom: 2%; */
}
.link{
 text-decoration: none;  
 text-wrap:nowrap;
}
/* // style={{textDecoration:"none",textWrap:"nowrap"}} */
@keyframes carAnimate{
        0%{transform: translateX(900%);}
        100%{transform: translateX(-100%);}
}
main{
    margin-top: 15%;
    margin-left: 10%;
    z-index: 10;
}